body{
    font-family: "Mona Sans", sans-serif;
    width: fit-content;
    margin: 0px 0px;
    
} 

#header{
    background-image: url("images/Pérez_Zeledón.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin: 0 auto; */
    height: 29rem;

}

#title{
    margin: 6rem 0rem;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #447a9d;
    color: white;
}

#subtitle{
    color: white;
    background-color: #1c3554;
    width: 40rem;
    padding: 0.5rem 0rem;
    border: none;
    border-radius: 15px;
}

#activity-conatiner{
    background-color: #f1fbf0;
}

#activity-hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#title-activities{
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}

.hero-img {
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
}

#activity-hero{
    text-align: center;
}

#tour-card{
    width: 35rem;
    margin: 3rem auto;
    background-color: #a7dadb;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    box-shadow: 5px 5px #3e7898;
    border-radius: 20px 20px ;
    
}

.avatar{
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
    margin: 2rem 2rem;
}

#footer{
    text-align: center;
    margin: 0px 0px 50px 0px;
}

.hero-descript{
    font-size: larger;
}

.activity-card{
    width: 22rem;
}